@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
html,
html body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    78.65deg,
    rgba(25, 249, 195, 0.95) 8.37%,
    #29d93b 86.44%
  );
  border-radius: 20px;
}
div::-webkit-scrollbar-thumb {
  background: linear-gradient(
    78.65deg,
    rgba(25, 249, 195, 0.95) 8.37%,
    #29d93b 86.44%
  );
}

body {
  position: relative;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  background-color: #000000;
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/Noise-Texture.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }
  &::before {
    position: absolute;
    content: "";
    right: 25%;
    top: 1.7%;
    width: 550px;
    height: 550px;
    background-image: url("../img/hero.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -2;
    @include xxl{
      right: 24%;
      top: 1.3%;
    }
    @include xl{
      right: 24%;
      top: 1.3%;
    }
    @include lg{
      right: 6%;
      top: .3%;
    }
    @include mmd{
      right: 20%;
      top: .5%;
      width: 300px;
      height: 300px;
    }
    @include sm{
      right: 6%;
      top: .8%;
      width: 300px;
      height: 300px;
    }
    @include sm{
      right: 1%;
      top: .5%;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
h1 {
  @include font-98;
}
h2 {
  @include font-56;
}
h3 {
  @include font-32;
}
h4 {
  @include font-28;
}
h5 {
  @include font-18;
}
p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  @include transition;
}

input,
textarea,
button {
  padding: 10px 25px;
  outline: none;
  @include transition;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: #f3f3f3;
}

nav ul li {
  display: inline-block;
  position: relative;
  @include transition;
}

/*Hide number spin button*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  --bs-gutter-x: 30px;
  @media (min-width: 1366px) {
    max-width: 1320px;
  }
}

.boxedBtn {
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  line-height: 160%;
  font-weight: 600;
  color: $white;
  padding: 12px 29px;
  border-radius: 40px;
  background: rgb(29, 73, 61);
  background: linear-gradient(
    90deg,
    rgba(29, 73, 61, 1) 0%,
    rgba(33, 70, 37, 1) 100%
  );
  position: relative;
  border: 1px solid transparent;
  background-clip: padding-box;
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: rgb(25, 249, 195);
    background: linear-gradient(
      90deg,
      rgba(25, 249, 195, 1) 0%,
      rgba(41, 217, 59, 1) 100%
    );
    z-index: -1;
    border-radius: 40px;
  }
  &:hover {
    color: $_hover;
  }
}

.social-links {
  position: absolute;
  top: 25%;
  right: 12%;
  z-index: 99;
  @include lg{
    right: 5%;
  }
  @include md{
    right: 5%;
  }
  @include sm{
    display: none;
  }
  li {
    margin-bottom: 32px;
    a {
      display: flex;
      border: 1px solid #0d4614;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      transition: all .3s;
      img {
        max-width: 16px;
      }
      &:hover{
        transform: rotate(360deg);
      }
    }
  }
}

.subscribeForm {
  position: relative;
  & input {
    background-color: #000000;
    color: $white !important;
    border-radius: 44px !important;
    padding: 15px 19px;
    height: 64px;
    @include font-18;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.6);
  }
  & input::placeholder {
    color: $white !important;
    text-transform: capitalize;
    opacity: 20%;
  }
  & button {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    @include linearGradient;
    border-radius: 30px !important;
    width: 86px;
    height: 48px;
    z-index: 99;
    border: 0;
    transition: all .3s ease-in-out;
    svg{
      margin-top: -3px;
    }
    &:hover{
      background: linear-gradient(220deg, rgba(25, 249, 195, 0.95) 8.37%, #29D93B 86.44%), linear-gradient(172deg, #3B36FF 13.87%, #8C89FF 79.76%, #FFF 120.95%);
    }
  }
}

.inlineBtn {
  background: var(
    --1,
    linear-gradient(79deg, rgba(25, 249, 195, 0.95) 8.37%, #29d93b 86.44%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: -0.54px;
  text-transform: capitalize;
  border-radius: 40px;

  border: 1px solid var(--1, rgba(25, 249, 195, 0.95));
  backdrop-filter: blur(10px);
  display: inline-block;
  padding: 16px 40px;
}

.section-title {
  h2 {
    color: $_D9D9D9;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 0px 4px 8.6px rgba(0, 0, 0, 0.25);
    @include sm{
      background: linear-gradient(90deg, #22E16E -112.46%, #FFF 71.85%);
      @include linearGradientTxt;
      line-height: 145%;
    }
    span{
      background: linear-gradient(90deg, #22E16E -112.46%, #FFF 71.85%);
      @include linearGradientTxt;
    }
  }
  span {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    line-height: 135%;
    text-transform: uppercase;
  }
  .subTitle{
    @include sm{
      font-size: 12px;
      display: block !important;
    }
  }
}
