@mixin transition {
    transition: all .3s ease-in-out;
}

@mixin hidden {
    opacity: 0;
    visibility: hidden;
}

@mixin show {
    opacity: 1;
    visibility: visible;
}

@mixin img($property) {
    width: 100%;
    height: 100%;
    object-fit: $property;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin postion_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin middle_clear {
    position: unset;
    top: 0%;
    left: 0%;
    transform: translate(0, 0);
}

@mixin potion_left {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin potion_right {
    position: absolute;
    top: 0;
    right: 0;
}

@mixin font-98{
    font-size: 98px;
    line-height: 135%;
    @include xxl {
        font-size: 80px;
    }
    @include xl {
        font-size: 65px;
    }
    @include lg {
        font-size: 48px;
    }
    @include md {
        font-size: 38px;
    }
    @include sm {
        font-size: 28px;
    }
}

@mixin font-56 {
    font-size: 56px;
    line-height: 135%;
    @include xl {
        font-size: 48px;
    }
    @include lg {
        font-size: 40px;
    }
    @include md {
        font-size: 30px;
    }
    @include sm {
        font-size: 25px;
    }
}

@mixin font-32 {
    font-size: 32px;
    line-height: 160%;
    @include md {
        font-size: 30px;
    }
    @include sm {
        font-size: 25px;
    }
}

@mixin font-28 {
    font-size: 28px;
    line-height: 160%;
    @include md {
        font-size: 24px;
    }
    @include sm {
        font-size: 20px;
    }
}

@mixin font-24 {
    font-size: 24px;
    line-height: 135%;
    @include lg {
        font-size: 22px;
    }
    @include md {
        font-size: 20px;
    }
    @include sm {
        font-size: 18px;
    }
}

@mixin font-22 {
    font-size: 22px;
    line-height: 160%;
    @include lg {
        font-size: 18px;
    }
    @include mmd {
        font-size: 18px;
    }
}

@mixin font-18 {
    font-size: 18px;
    line-height: 160%;
    @include mmd {
        font-size: 16px;
    }
}

@mixin font-16 {
    font-size: 16px;
    line-height: 160%;
    @include mmd {
        font-size: 15px;
    }
}

@mixin font-14 {
    font-size: 14px;
    line-height: 160%;
    @include sm {
        font-size: 13px;
    }
}


@mixin flex {
    display: flex;
    align-items: center;
}

@mixin linearGradient {
    background: rgb(25,249,195);
    background: linear-gradient(90deg, rgba(25,249,195,1) 0%, rgba(41,217,59,1) 100%);
}
@mixin linearGradient2 {
    background: rgb(34,225,110);
    background: linear-gradient(90deg, rgba(34,225,110,1) 0%, rgba(255,255,255,1) 100%);
}
@mixin linearGradientTxt {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin beforeAfter {
   position: absolute;
   content: "";
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}


