.roadMap{
    padding-top: 200px;
    padding-bottom: 250px;
    position: relative;
    z-index: 1;
    @include xl{
        padding-top: 120px;
        padding-bottom: 180px;
    }
    @include lg{
        padding-top: 120px;
        padding-bottom: 180px;
    }
    @include md{
        padding-top: 120px;
        padding-bottom: 180px;
    }
    @include sm{
        padding-top: 70px;
        padding-bottom: 0px;
    }
    &::before{
        @include beforeAfter;
        width: 400px;
        height: 775px;
        background-image: url('../img/roadmapLeftShap.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        z-index: -1;
        @include mmd{
            width: 200px;
            height: 375px;

        }
        @include sm{
            left: auto;
            right: 0;
            background-image: url('../img/roadmapResponsiveShap.png');
        }
    }
    &::after{
        @include beforeAfter;
        left: auto;
        right: 0;
        top: auto;
        bottom: 10%;
        width: 180px;
        height: 565px;
        background-image: url('../img/roadmaprightShap.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        z-index: -1;
        @include sm{
            right: auto;
            left: 0;
            transform: scale(-1);
        }
    }
    .section-title{
        h2{
            background: linear-gradient(90deg, #22E16E -112.46%, #FFF 71.85%);
            @include linearGradientTxt;
            margin-bottom: 40px;
        }
    }
    .roadMap-wrapper {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(220px, 1fr) );
        @include lg{
            grid-template-columns: repeat( auto-fit, minmax(125px, 1fr) );
        }
        @include md{
            grid-template-columns: repeat( auto-fit, minmax(125px, 1fr) );
        }
        @include sm{
            grid-template-columns: 1fr;
        }
        & .roadmap-single-item{
            max-width: 265px;
            margin-bottom: 60px;
            padding-left: 0;
            padding-bottom: 40px;
            @include md{
                max-width: 190px;
            }
            @include sm{
                max-width: 100%;
                margin-bottom: 0px;
                padding-left: 109px;
            }
            h4{
                background: linear-gradient(90deg, #22E16E -112.46%, #FFF 71.85%); 
                @include linearGradientTxt;
                font-weight: 700;
                line-height: 135%;
                text-transform: uppercase;
            }
            ul{
                li{
                    color: $_7A807F;
                    font-weight: 500;
                    @include font-16;
                    padding-left: 36px;
                    position: relative;
                    z-index: 1;
                    margin-bottom: 10px;
                    word-wrap: break-word;
                    @include lg{                        
                        width: 90%;
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        top: 8px;
                        left: 20px;
                        width: 8px;
                        height: 8px;
                        background-image: url('../img/mapListDot.svg');
                        background-repeat: no-repeat;
                        background-size: contain;

                    }
                }
            }
        }
        .roadmap-single-item:nth-child(3) {
            margin-top: 60px;
            margin-bottom: 10px;
            margin-left: -20px;
            @include sm{
                margin-left: 0;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        .roadmap-single-item:nth-child(4) {
            margin-top: -20px;
            margin-bottom: 10px;
            width: 280px;
            margin-left: -10px;
            @include sm{
                margin-left: 0;
                margin-bottom: 0;
                margin-top: 0;
                width: 100%;
            }
        }
        .roadmap-single-item:nth-child(5) {
            margin-top: -60px;
            margin-bottom: 10px;
            margin-left: 10px;
            @include sm{
                margin-left: 0;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        .roadmap-single-item:nth-child(6) {
            margin-top: -130px;
            margin-bottom: 10px;
            @include sm{
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }
    .roadmap-Shap{
        position: absolute;
        bottom: 85px;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        width: 100%;
        @include md{
            left: 0;
            transform: scale(1.1);
        }
    }
    .roadmap-Shap img {
        @include xxl{
            scale: 1.25;
        }
        @include xl{
            scale: 1.25;
        }
        @include lg{
            scale: 1.25;
        }
    }
    .roadMapTokenShap{
        position: absolute;
        left: 0;
        top: 310px;
        width: 185px;
        height: 152px;
        z-index: -1;
        @include sm{
            left: auto;
            width: 120px;
            right: 0;
            top: 130px;
            transform: scale(-1);
        }
    }
    .roadMap-wrapper{
       @include sm{
        position: relative;
        .line{
            position: absolute;
            left: 50px;
            top: 0;
            width: 5px;
            height: 100%;
            background-image: url('../img/Line594.svg');
            background-repeat: no-repeat;
            background-size: auto 100%;
        }
        
        .roadmap-single-item {
            position: relative;
            .dot {
                position: absolute;
                left: 31px;
                top: -6px;
                max-width: 48px;
            }
            .downArrow {
                position: absolute;
                left: 35px;
                bottom: 45px;
                max-width: 40px;
            }
        }
        .roadmap-single-item:nth-child(3) {
            .dot {
                scale: .85;
            }
            .downArrow {
                scale: .85;
            }
        }
        .roadmap-single-item:nth-child(4) {
            .dot {
                scale: .8;
            }
            .downArrow {
                scale: .8;
            }
        }
        .roadmap-single-item:nth-child(5) {
            .dot {
                scale: .75;
            }
            .downArrow {
                scale: .75;
            }
        }
        .roadmap-single-item:nth-child(6) {
            .dot {
                scale: .7;
            }
            .downArrow {
                scale: .7;
            }
        }
        
        
       }
      
    }
    
}


.dotArrowWrapper{
    position: relative;
    z-index: 1;
    .arrowRight {
        position: absolute;
        right: 45px;
        top: 34px;
    }
    
    .dotArrow{
        position: relative;
        width: 100%;
    }
    .dotArrow:nth-child(1){
        transform: translateY(-9px);
        .arrowRight{
            top: 36px;
            transform: rotate(-11deg);
            animation: circle1 3s linear infinite;
            @keyframes circle1{
                0% {
                    opacity: 0;
                    transform: rotate(18deg) translate(-20px, -2px) rotate(-15deg);
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: rotate(18deg) translate(30px, -12px) rotate(-27deg);
                }
              }
        }
    }
    .dotArrow:nth-child(2){
        margin-bottom: -45px;
        .arrowRight{
            top: 36px;
            transform: rotate(-11deg);
            animation: circle2 3s linear infinite;
            @keyframes circle2{
                0% {
                    opacity: 0;
                    transform: rotate(18deg) translate(-20px, -5px) rotate(-15deg);
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: rotate(18deg) translate(30px, -21px) rotate(-27deg);
                }
              }
        }
    }
    .dotArrow:nth-child(3){
        margin-bottom: -38px;
        .arrowRight{
            top: -4px !important;
            animation: circle3 3s linear infinite;
            @keyframes circle3{
                0% {
                    opacity: 0;
                    transform: rotate(0deg) translate(-20px, 5px) rotate(-15deg);
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: rotate(2deg) translate(30px, -9px) rotate(-27deg);
                }
              }
        }
    }
    .dotArrow:nth-child(4){
        margin-bottom: 0;
        margin-top: -55px;
        .arrowRight{
            top: -29px !important;
            animation: circle4 3s linear infinite;
            @keyframes circle4{
                0% {
                    opacity: 0;
                    transform: rotate(-6deg) translate(-20px, 5px) rotate(-35deg);
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: rotate(-10deg) translate(30px, -9px) rotate(-27deg);
                }
              }
        }
    }
    .dotArrow:nth-child(5){
        margin-bottom: 0;
        margin-top: -264px;
        .arrowRight{
            top: 18px !important;
            transform: rotate(-51deg);
            animation: circle5 3s linear infinite;
            @keyframes circle5{
                0% {
                    opacity: 0;
                    transform: rotate(-25deg) translate(0px, 0px) rotate(-38deg);
                }
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    transform: rotate(-27deg) translate(40px, -5px) rotate(-22deg);
                }
              }
        }
    }
}